<br>
<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="contenedor-tarjetas">
  <div class="empleado">
    <mat-card class="tarjeta-empleado">
      <mat-card-header>
        <mat-card-subtitle class="superposicion-titulo"> Developer </mat-card-subtitle>
      </mat-card-header>
      <div class="foto-empleado">
        <img src="../../../assets/img/devloper.png" alt="Foto del empleado" style="width: 100%; height: 100%;">
      </div>
      <h2>Elizabeth Mackguifray</h2>
      <mat-card-content>
        <p>Edad: 29 años</p>
        <p>Estado: Disponible</p>
        <p>Fase: Grupo 1</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="targetas">
    <mat-card class="tarjeta-habilidades">
      <mat-card-header>
        <mat-card-title>Habilidades</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- Contenido de las habilidades -->
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore aspernatur vel quisquam culpa at eius incidunt, laboriosam adipisci officiis vero sequi, similique, minima eligendi aut nulla soluta vitae sunt asperiores!
          Sunt, necessitatibus debitis cum ipsam natus veritatis id aliquid maxime exercitationem voluptatibus esse. Velit maiores provident animi, tempore cumque quas veritatis ratione maxime qui illo perferendis non impedit ut voluptate?</li>
          <li>Habilidad 2</li>
          <li>Habilidad 3</li>
          <!-- ... -->
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="tarjeta-metas">
      <mat-card-header>
        <mat-card-title>Metas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- Contenido de las metas -->
        <ul>
          <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis inventore rem dolores nemo ea, quas eveniet cupiditate facere maiores minima dolor a deleniti voluptatem sint non qui optio nihil illo?
          Recusandae aperiam corrupti eius nam voluptatibus. Distinctio, accusamus. Temporibus quas eius non praesentium ipsa sit repellat? Obcaecati, rem! Assumenda fugit id quos autem pariatur tempore libero sequi corporis ea quae.</li>
          <li>Meta 2</li>
          <li>Meta 3</li>
          <!-- ... -->
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
